<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
<h1>Error occurred</h1>
<p class="red-text">{{this}}</p>
</body>
</html>
